---

import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const friends = [
    {name:"折乙", avatar:"/friends/zheyi.png", url:"https://zheyi.in", desc:"前端引路人"},
    {name:"蛋", avatar:"/friends/dan.png", url:"https://dumbdaidai.github.io/", desc:"爱读点蛋爷"},
    {name:"卞", avatar:"/friends/bian.png", url:"https://www.endercrysta2.xyz/", desc:"舍友"},
]
---
<MainGridLayout title={i18n(I18nKey.about)} description={i18n(I18nKey.about)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
            {friends.map((friend)=>(

            <a href={friend.url}>
            <img src={friend.avatar} class="avatar"/>
            </a>
            
            ))}
    </div>
</MainGridLayout>


---
<style scoped>
    .avatar{
        width: 200px;
        height: 200px;
        border-radius: 10px;
    }
</style>